In [1]:
import pandas as pd

In [3]:
s = pd.Series(['alice','Bob',None, 'Carol'])

In [4]:
s

0    alice
1      Bob
2     None
3    Carol
dtype: object

In [19]:
s.str.lower()

0    alice
1      bob
2     None
3    carol
dtype: object

In [20]:
s.str.upper()

0    ALICE
1      BOB
2     None
3    CAROL
dtype: object

In [11]:
df = pd.DataFrame({'name':s,'LastName':s.str.upper()})

In [12]:
df

    name LastName
0  alice    ALICE
1    Bob      BOB
2   None     None
3  Carol    CAROL

In [15]:
d=pd.to_datetime('14:25')
d.day_name()

'Thursday'

In [21]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
f =pd.Series([1,2,3,5,6])

In [26]:
f

0    1
1    2
2    3
3    5
4    6
dtype: int64