In [3]:

import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn import linear_model

In [4]:
# Path of the file to read
iowa_file_path = './train.csv'
iowa_file_path_test = './test.csv'
train = pd.read_csv(iowa_file_path)
test = pd.read_csv(iowa_file_path_test)

In [5]:
data = train.select_dtypes(include=[np.number]).interpolate().dropna()
sum(data.isnull().sum() != 0)


y = np.log(train.SalePrice)
X = data.drop(['SalePrice', 'Id'], axis=1)

In [6]:
data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [9]:
feature =[
    'LotAArea',
    'OverallQual',
    'OverallCond'
]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.33)

lr = linear_model.LinearRegression()
model = lr.fit(X_train, y_train)

In [12]:
X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
615,85,80.0,8800,6,7,1963,1963,156.0,763,0,...,480,120,0,0,0,0,0,0,5,2010
613,20,70.0,8402,5,5,2007,2007,0.0,206,0,...,0,0,30,0,0,0,0,0,12,2007
1303,20,73.0,8688,7,5,2005,2005,228.0,0,0,...,834,208,59,0,0,0,0,0,4,2006
486,20,79.0,10289,5,7,1965,1965,168.0,836,0,...,515,0,0,0,0,0,0,0,6,2007
561,20,77.0,10010,5,5,1974,1975,0.0,1071,123,...,418,240,38,0,0,0,0,0,4,2006

In [8]:
predictions = model.predict(X_test)
from sklearn.metrics import mean_squared_error
#print ('RMSE is: \n', mean_squared_error(y_test, predictions))

In [8]:
for i in range (-2, 3):
    alpha = 10**i
    rm = linear_model.Ridge(alpha=alpha)
    ridge_model = rm.fit(X_train, y_train)
    preds_ridge = ridge_model.predict(X_test)

In [8]:
# creating data frame for csv generation
submission = pd.DataFrame()
submission['Id'] = test.Id

In [8]:
feats = test.select_dtypes(
        include=[np.number]).drop(['Id'], axis=1).interpolate()

predictions = model.predict(feats)

final_predictions = np.exp(predictions)


submission['SalePrice'] = final_predictions
submission.to_csv('submission1.csv', index=False)