In [1]:
#pandas

In [2]:
import numpy as np
import pandas as pd

In [9]:
data=pd.Series([0.25,0.5,.75,1])
numArray = np.array([0.25,0.5,.75,1])

In [10]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
numArray

array([0.25, 0.5 , 0.75, 1.  ])

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [14]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
data[1]

0.5

In [17]:
data =pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [19]:
data['e']

5

In [22]:
example = pd.Series({2:'a',1:'b',3:'c','d':'d'},index=[3,2])

In [26]:
example[3]

'c'

In [27]:
example

3    c
2    a
dtype: object

In [38]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [50]:
area_dict = {'Illinois': 149995,'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312}
area = pd.Series(area_dict)
area

Illinois      149995
California    423967
Texas         695662
New York      141297
Florida       170312
dtype: int64

In [51]:
area = pd.Series(area_dict)

In [80]:
stat = pd.DataFrame({'population':population,'area':area})
stat

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [71]:
states = pd.DataFrame({'population':population,'area':area})

In [61]:
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [70]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [81]:
#pandas as ordered sets

In [83]:
indA =pd.Index([1,3,4,5,6,1])

In [84]:
indA

Int64Index([1, 3, 4, 5, 6, 1], dtype='int64')

In [96]:
indA =pd.Index([1,3,4,5,6])

In [97]:
indB =pd.Index([1,2,3])

In [98]:
indA & indB

Int64Index([1, 3], dtype='int64')

In [99]:
indA | indB

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [100]:
arr = np.arange(6)